@page "/sorting-visualizer"

<MudContainer Class="pa-4">
    <PageTitle>Sorting Visualizer</PageTitle>

    <div style="height: 65vh;">
        <SortingVisualizer></SortingVisualizer>
    </div>
</MudContainer>
