
<div class="array-bar" style=@(
    $"width: {@BarWidth}%;height: {@BarHeight}%;")>
</div>

@code {
    [Parameter]
    public double BarWidth { get; set; }

    [Parameter]
    public double BarHeight { get; set; }
}