@inherits SortingVisualizerBase

<PageTitle>Sorting Visualizer</PageTitle>

<MudButtonGroup Variant="Variant.Outlined" Color="Color.Info">
    <MudButton @onclick="() => ResetArray()">Reset Array</MudButton>
    <MudButton @onclick="() => NewArray(ArraySize, MinVal, MaxVal)">New Array</MudButton>
</MudButtonGroup>

<MudButtonGroup Variant="Variant.Outlined" Color="Color.Primary">
    <MudButton @onclick="() => CsharpSort()">C# Built-In Sort</MudButton>
    <MudButton @onclick="() => BubbleSort()">Bubble Sort</MudButton>
    <MudButton @onclick="() => MergeSort(GeneratedList)">Merge Sort</MudButton>
</MudButtonGroup>

<MudSlider @onchange="() => NewArray(NextSize, MinVal, MaxVal, true)" 
    @bind-Value="@NextSize" 
    Min="MinArraySize" 
    Max="MaxArraySize" 
    Color="Color.Info">Size: @NextSize
</MudSlider>

<p>Sorted in: @SortTimer ms</p>

<MudDivider DividerType="DividerType.Middle" Class="my-4"/>

<div class="array-container">
    @for (var i = 0; i < ArraySize; i++)
    {
        <Bar @ref="i"
            BarWidth="@RandomArrayPercentages[i].Item1" BarHeight="@RandomArrayPercentages[i].Item2">
        </Bar>
    }
</div>