@page "/"

<MudContainer Class="pa-4">
    <PageTitle>Index</PageTitle>

    <h1>ed3642dev: Learning Projects</h1>

    List of projects I have made to learn C#, WebAssembly, MudBlazor, and .NET in general.

</MudContainer>